<section class="S01">
    <div class="container-fluid">
        <div class="header">
            <h2>Brand Guidelines</h2>
            <p>Visual Identity Style Guide</p>
        </div>

        <div class="footer">
            <span>Version 1</span>
            <span>Year 2026</span>
            <span>By Alex Wambui</span>
        </div>
    </div>
</section>
