<section class="AssetHandover">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="title">06. Asset Handover</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <p>Client receives:</p>
                <ol>
                    <li>Logo Files: SVG, AI, EPS, PNG, PDF.</li>
                    <li>Brand Guidelines PDF.</li>
                    <li>Fonts (if licenced appropriately).</li>
                    <li>Social Templates.</li>
                    <li>Stationery Files.</li>
                    <li>Website Assets.</li>
                    <li>Icon Sets.</li>
                </ol>
            </div>
        </div>
    </div>
</section>
