<section class="BrandGuidelines">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="title">05. Brand Guidelines</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <p>This is the rulebook.</p>
                <p>Often delivered as a PDF.</p>
                <p>It explains:</p>
                <ol>
                    <li>Logo Usage: Correct (Proper spacing). Incorrect (Stretching logo, wrong colors, rotation).</li>
                    <li>Color Rules: Primary Colors, Secondary colors, Hex, RGB, CMYK.</li>
                    <li>Typography Rules: Heading fonts, Body fonts, spacing, weights.</li>
                    <li>Image Style: What images can be used.</li>
                    <li>Social media rules: Templates, Post styles.</li>
                    <li>Applications: Business cards, letterheads, website, packaging, etc.</li>
                </ol>
                <p>This document helps maintain consistency.</p>
            </div>
        </div>
    </div>
</section>
