---
import { AppConfig } from "../../data";
---

<section class="BrandStrategy">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="title">01. Brand Strategy</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <p>This is the discovery and strategy part that generate the brand strategy deck.</p>
                <p>It gives a framework for how the brand should look, feel, act and sound like.</p>
                <p>The main questions to answer with this are: To [Why], so that [what], by [how]. What, Why, How. Example: To [help others feel seen], so that [they can confidently share their story], by [creating thoughtful, strategic design].</p>
                <p>---The What. Offering, Basics, Culture.</p>
                <p>These questions should answer, "so what?" and "why does this matter to your customer?"</p>
                <ol>
                    <li>What is the legal name and backstory of your company?</li>
                    <li>What products or services do you offer?</li>
                    <li>What problems do these solve for your target audience?</li>
                    <li>What makes you proud or frustrated about your offer?</li>
                </ol>
                <p>---The who. Audience and Personas</p>
                <ol>
                    <li>Who are your primary users and what are they struggling with? Or Who do you serve (Target Audience)?</li>
                    <li>Can you tell a story about a customer you loved working with?</li>
                </ol>
                <p>---The Why. Brand Core / The heart of the company</p>
                <ol>
                    <li>Why did you start this brand or why do you exist?</li>
                    <li>What makes you different?</li>
                    <li>How should people feel about you?</li>
                </ol>
                <p>---The How. Personality & Visual Direction</p>
                <p>This helps know if you tone is playful or serious, simple or complex</p>
                <ol>
                    <li>What brands inspire you?</li>
                    <li>What visuals feel aligned or completely wrong to your brand?</li>
                </ol>
                <p>Summary: Brand strategy is the name, offering, competition, differentiation, ideal customer, brand story, brand voice and tone, brand look and feel, brand adjectives, brand archetype, brand mission, brand vision and values.</p>
                <p>The deck should include:</p>
                <ol>
                    <li>Company profile</li>
                    <li>Brand personality</li>
                    <li>Brand positioning</li>
                    <li>Mission</li>
                    <li>Vision</li>
                    <li>Brand Story</li>
                    <li>Taglines</li>
                    <li>Ideal Buyer Persona</li>
                    <li>Competitive Analysis</li>
                    <li>3 Moodboards outlining the brand's look and feel</li>
                </ol>
            </div>

            <div class="content">
                <p>{ AppConfig.brand_name } is a software company.</p>
                <p>Target Audience: SMEs, Startups, Enterprises.</p>
                <p>Mission (What the brand does and who it is for): Build custom software that helps businesses solve visibility (websites), management (management systems), branding (brand & visual design).</p>
                <p>Vision (The bigger picture, or where the brand is going in the long run): Become the world's most trusted custom software company.</p>
                <p>Values: Innovation, Reliablity, Simplicity, Growth.</p>
                <p>Brand Personality: Intelligent, Modern, Professional, Approachable.</p>
            </div>
        </div>
    </div>
</section>
