---
import { AppConfig } from "../../data";
---

<section>
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="title">03. Brand Identity</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <p>Now the actual design work starts.</p>
                <p>This is where we create:</p>
                <ol>
                    <li>
                        logo: Possible { AppConfig.brand_name } logo concepts:
                        <ul>
                            <li>Abstract "A"</li>
                            <li>Geometric Symbol</li>
                            <li>Wordmark</li>
                            <li>Combination mark</li>
                        </ul>
                    </li>

                    <li>Color Pallete: Example; Deep Navy, Electric Blue, White, Soft Gray.</li>
                    <li>Typography: Example; Heading: Inter, Body: Georgia.</li>
                    <li>Supporting Elements: Patterns, Icons, Shapes, Illustration Style.</li>
                    <li>Imagery Style: Examples; Modern technology photography, Clean workspace imagery, Professional software engineers focused on work visuals.</li>
                </ol>
                <p>This collection is what becomes the brand identity.</p>
            </div>
        </div>
    </div>
</section>
