---
import { AppConfig } from "../../data";
---

<section class="Hero">
    <div class="container-fluid">
        <p class="description">Brand Identity System</p>

        <div class="meta">
            <p>Version 1.0<span>·</span> {new Date().getFullYear()}<span>·</span></p>
        </div>
    </div>
</section>
