---
import { AppConfig } from "../../data";
---

<section class="Moodboard">
    <div class="container-fluid">
        <div class="section-header">
            <h2 class="title">02. Moodboard</h2>
        </div>

        <div class="content-wrapper">
            <div class="content">
                <p>This is where we start the visual exploration.</p>
                <p>The moodboard is not the brand identity, it's simply a visual direction.</p>
                <p>Clients should approve the direction before the logo design begins.</p>
                <p>Questions</p>
                <ol>
                    <li>What should { AppConfig.brand_name } feel like?</li>
                </ol>
                <p>Should contain</p>
                <ol>
                    <li>Inspirational images</li>
                    <li>Typography examples</li>
                    <li>Color inspiration</li>
                    <li>UI examples</li>
                    <li>Photography styles</li>
                    <li>Shapes and textures</li>
                </ol>
            </div>

            <div class="content">
                <div class="moodboard">
                    <img src="" alt="Moodboard Visualization">
                </div>

                <p>Keywords</p>
                <ol>
                    <li>Modern</li>
                    <li>Trustworthy</li>
                    <li>Intelligent</li>
                    <li>Clean</li>
                    <li>Innovative</li>
                </ol>
            </div>
        </div>
    </div>
</section>
