---
import Layout from '../layouts/Layout.astro';
import BrandStrategyComponents from '../components/BrandStrategy/Index.astro';
---

<Layout>
    <div class="BrandStrategyPage">
        <BrandStrategyComponents />
    </div>
</Layout>
