---
import Layout from '../layouts/Layout.astro';
import BrandGuidelinesComponents from '../components/BrandGuidelines/Index.astro';
---

<Layout>
    <div class="BrandGuidelines">
        <BrandGuidelinesComponents />
    </div>
</Layout>
