---
import Layout from '../layouts/Layout.astro';
import HomepageComponents from '../components/Homepage/Index.astro';
---

<Layout>
    <div class="Homepage">
        <HomepageComponents />
    </div>
</Layout>
