---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Brand Personality</h2>
        </div>
        <div class="content">
            <p>{ AppConfig.brand_name } encourages innovation, reliability, simplicity, and growth.</p>
            <p>Our Core Values</p>
            <ol>
                <li>Innovation</li>
                <li>Reliability</li>
                <li>Simplicity</li>
                <li>Growth</li>
            </ol>
            <p>Our Brand Voice and Tone</p>
            <p>{ AppConfig.brand_name } communicates in a clear, professional, and approachable manner, reflecting our commitment to innovation and reliability.</p>
            <p>Our Brand Adjectives</p>
            <ol>
                <li>Intelligent</li>
                <li>Modern</li>
                <li>Minimalistic</li>
                <li>Professional</li>
                <li>Approachable</li>
            </ol>
        </div>
    </div>
</section>