---
import { AppConfig } from "../../data";
---

<section class="Slide">
    <div class="container-fluid">
        <div class="header">
            <h2 class="title">Company Profile</h2>
        </div>
        <div class="content">
            <p>{ AppConfig.brand_name } is a business growth company specializing in helping you gain more customers, more sales, more efficienty and more profit. We understand that you as a business owner don't just wake up wanting a website, a logo, a CRM or an app and that's why we help you use software as the tool for your business to grow smartly.</p>
            <p>Founded in 2024, we help businesses grow through technology, design and digital systems.</p>
        </div>
    </div>
</section>