---
import { AppConfig } from "../data";
import "../styles/app.css";
import Navbar from '../components/Navbar/Index.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{AppConfig.brand_name} - Brand Identity System</title>
	</head>
	<body>
		<Navbar />

		<slot />
	</body>
</html>
